@using BlogApp.Data.Models
@using BlogApp.ViewModels.UsersRoles
@{
	ViewData["Title"] = "EditUser";
}
@model UserRoleViewModel

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

<label for="exampleInputPassword1" class="form-label">Добавление статьи</label>


<form class="frm" method="post" asp-controller="User" asp-action="UpdateUser">
	<div asp-validation-summary="ModelOnly"></div>
	@foreach (var role in Model.ListRolesModel.Roles)
	{
		<p class="form-check-inline">
			<input class="form-check-input" id="@role.Role.Id" name="RolesBox" type="checkbox" checked="@role.IsChecked" value="@role.Role.Name">
			<label class="form-check-label" for="@role.Role.Id">
				@role.Role.Name
			</label>
		</p>
	}
	<div>
		<div class="mb-3">
			<input asp-for="UserEditModel.FirstName" class="form-control" />
			<span asp-validation-for="UserEditModel.FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<textarea asp-for="UserEditModel.LastName" class="form-control">
			</textarea>
			<span asp-validation-for="UserEditModel.LastName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<textarea asp-for="UserEditModel.MiddleName" class="form-control">
			</textarea>
			<span asp-validation-for="UserEditModel.MiddleName" class="text-danger"></span>
		</div>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Добавить" />
	</div>
</form>
<div>
	<label for="exampleInputPassword1" class="form-label">
		<a class="" asp-area="" asp-controller="Article" asp-action="GetAllRoles">Перейти к списку всех статей</a>
	</label>
</div>
@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
