@using BlogApp.ViewModels.ArticlesTags.Articles
@{
	ViewData["Title"] = "ArticlesList";
}
@model ArticleListViewModel

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

<div class="form-control back-white fr-block">
	@if(Model.Articles.Count!=0)
	{
		@foreach(var article in Model.Articles)
		{
			<div class="list-group-flush">
				<div class="list-group-flush">@article.Title</div>
			</div>
			<div class="list-group-flush">
				<div class="list-group-flush">@article.Author</div>
			</div>
			<div class="list-group-flush">
				<div class="list-group-flush">@article.Description</div>
			</div>
			<div class="list-group-flush">
				<div class="list-group-flush">@article.Content</div>
			</div>
			<div class="list-group-flush">
				<div class="list-group-flush">@article.Created</div>
			</div>
		}
	}
</div>
<a class="" method=get asp-area="" asp-controller="Article" asp-action="CreateArticle">Добавить новую статью</a>
